Consider registering media type (mime type) for 3dm files/blobs

Based on [a question from ShapeDiver on the forum](https://discourse.mcneel.com/t/correct-content-type-aka-mime-type-media-type-for-3dm-files/109558?u=will)...

http://tools.ietf.org/html/rfc2045#section-5

> _The purpose of the Content-Type field is to describe the data
   contained in the body fully enough that the receiving user agent can
   pick an appropriate agent or mechanism to present the data to the
   user, or otherwise deal with the data in an appropriate manner. The
   value in this field is called a media type._
>
>  _HISTORICAL NOTE:  The Content-Type header field was first defined in
   RFC 1049.  RFC 1049 used a simpler and less powerful syntax, but one
   that is largely compatible with the mechanism given here._
>
>  _The Content-Type header field specifies the nature of the data in the
   body of an entity by giving media type and subtype identifiers, and
   by providing auxiliary information that may be required for certain
   media types.  After the media type and subtype names, the remainder
   of the header field is simply a set of parameters, specified in an
   attribute=value notation.  The ordering of parameters is not
   significant._

A couple of examples, based on my understanding of why this is useful...

1. The client calls the server's /export endpoint with the `Accept` header set to `model/vnd.3dm`. The server responds by exporting a saved model as a 3dm file and returning the binary data in the response body. The server could also support `model/stl` and `model/obj`.
2. The client calls the server's /convert endpoint with a `Content-Type: model/stl` and `Accept: model/vnd.3dm` and the contents of a binary STL file in the request body. The server returns a 3dm file in the response body that contains a mesh that was created from the STL file.

I'm unsure if there should be special considerations for sending and receiving 3dm blobs (i.e. the serialised opennurbs geometry data that compute deals with). Perhaps for this we should use `model/vnd.3dm+json`, as per [RFC 3023](https://trac.tools.ietf.org/html/draft-ietf-appsawg-media-type-suffix-regs-02#section-3.1).

I suggested `model/3dm` or `model/vnd.3dm` based on a quick review of the information. ShapeDiver are going with `model/vnd.3dm`, for now. My understanding is that the `vnd` prefix is suitable for commercial/proprietary types. I think this is appropriate, despite openNURBS being open source.

We may need to register something, at some point. For now I'm just taking notes!

#### References

* [Up-to-date list of media types maintained by IANA](https://www.iana.org/assignments/media-types/media-types.xhtml#model)
* [RFC 2045](https://www.iana.org/go/rfc2045) - MIME formats and encodings
* [RFC 2077](https://tools.ietf.org/html/rfc2077) - Model top-level media type
* [RFC 6838](https://tools.ietf.org/html/rfc6838) - Media type specifications and registration procedures
* [Registration application](https://www.iana.org/form/media-types)

#### Examples

* [`model/stl`](https://www.iana.org/assignments/media-types/model/stl)
* [`model/obj`](https://www.iana.org/assignments/media-types/model/obj)
* [`model/gltf+json`](https://www.iana.org/assignments/media-types/model/gltf+json)
* [`model/gltf+binary`](https://www.iana.org/assignments/media-types/model/gltf+binary)

Linked with [COMPUTE-131](https://mcneel.myjetbrains.com/youtrack/issue/COMPUTE-131)